<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>568991463.70188427</real>
		<key>sheetClusters</key>
		<dict>
			<key>2014-01-29-hello-2015.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36076796</real>
				<key>lastModification</key>
				<real>568993236.36076796</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-08-16-miui6.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36076903</real>
				<key>lastModification</key>
				<real>568993236.36076903</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-09-04-is-pure-android-better.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36077094</real>
				<key>lastModification</key>
				<real>568993236.36077094</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-10-01-why-alibaba-ux-sucks.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36077201</real>
				<key>lastModification</key>
				<real>568993236.36077201</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-11-20-responsive-web-design.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36077297</real>
				<key>lastModification</key>
				<real>568993236.36077297</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-12-13-wechat-block-kuaidi.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36077404</real>
				<key>lastModification</key>
				<real>568993236.36077404</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-03-10-apple-event-2015.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36077499</real>
				<key>lastModification</key>
				<real>568993236.36077499</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-03-25-digital-native.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36077595</real>
				<key>lastModification</key>
				<real>568993236.36077595</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-03-31-e2e_user_scenarios.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36077702</real>
				<key>lastModification</key>
				<real>568993236.36077702</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-04-14-unix-linux-note.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36077797</real>
				<key>lastModification</key>
				<real>568993236.36077797</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-04-15-os-metro.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36077905</real>
				<key>lastModification</key>
				<real>568993236.36077905</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-05-11-see-u-ali.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36078</real>
				<key>lastModification</key>
				<real>568993236.36078</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-05-25-js-module-loader.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36078095</real>
				<key>lastModification</key>
				<real>568993236.36078095</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-06-15-alitrip-strategy.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36078203</real>
				<key>lastModification</key>
				<real>568993236.36078203</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-09-js-module-7day.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36078298</real>
				<key>lastModification</key>
				<real>568993236.36078298</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-09-22-js-version.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36078405</real>
				<key>lastModification</key>
				<real>568993236.36078405</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-28-how-designer-learn-fe.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36076498</real>
				<key>lastModification</key>
				<real>568993236.36076498</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-15-ios9-safari-web.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36078501</real>
				<key>lastModification</key>
				<real>568993236.36078501</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-28-css-sucks-2015.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36078596</real>
				<key>lastModification</key>
				<real>568993236.36078596</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-01-React-vs-Angular2.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36078703</real>
				<key>lastModification</key>
				<real>568993236.36078703</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-05-pwa-in-my-pov.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36078799</real>
				<key>lastModification</key>
				<real>568993236.36078799</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-22-the-open-web.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36078894</real>
				<key>lastModification</key>
				<real>568993236.36078894</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-20-pwa-qcon2016.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36079001</real>
				<key>lastModification</key>
				<real>568993236.36079001</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-20-sw-101-gdgdf.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36079097</real>
				<key>lastModification</key>
				<real>568993236.36079097</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-09-wechat-miniapp-ux.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36079204</real>
				<key>lastModification</key>
				<real>568993236.36079204</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-02-09-nextgen-web-pwa.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36079299</real>
				<key>lastModification</key>
				<real>568993236.36079299</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-06-html-document.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36079502</real>
				<key>lastModification</key>
				<real>568993236.36079502</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-28-sw-precache.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36079597</real>
				<key>lastModification</key>
				<real>568993236.36079597</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-13-admission.md</key>
			<dict>
				<key>lastModification</key>
				<real>568991463.70188427</real>
				<key>version</key>
				<dict>
					<key>legacy-568991463.701884</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2017-06-25-you-are-slaves.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36079705</real>
				<key>lastModification</key>
				<real>568993236.36079705</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-07-12-upgrading-eleme-to-pwa.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.360798</real>
				<key>lastModification</key>
				<real>568993236.360798</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-07-26-farewell-flash.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36079895</real>
				<key>lastModification</key>
				<real>568993236.36079895</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-09-20-time.md</key>
			<dict>
				<key>lastModification</key>
				<real>568991463.70188427</real>
				<key>version</key>
				<dict>
					<key>legacy-568991463.701884</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2017-10-06-css-complaints.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36080003</real>
				<key>lastModification</key>
				<real>568993236.36080003</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-12-12-halting-problem.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36080098</real>
				<key>lastModification</key>
				<real>568993236.36080098</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-12-12-uncomputable-funcs.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36080205</real>
				<key>lastModification</key>
				<real>568993236.36080205</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-02-23-pd.md</key>
			<dict>
				<key>lastModification</key>
				<real>568991463.70188427</real>
				<key>version</key>
				<dict>
					<key>legacy-568991463.701884</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2018-09-27-avoiding-success-at-all-cost.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36080301</real>
				<key>lastModification</key>
				<real>568993236.36080301</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-10-06-vim-cn-im.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568993236.36080396</real>
				<key>lastModification</key>
				<real>568993236.36080396</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-01-12-Third-space.md</key>
			<dict>
				<key>lastModification</key>
				<real>568991463.70188427</real>
				<key>version</key>
				<dict>
					<key>legacy-568991463.701884</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-10-28-how-designer-learn-fe.markdown</string>
		</array>
		<array>
			<string>2014-01-29-hello-2015.markdown</string>
		</array>
		<array>
			<string>2014-08-16-miui6.markdown</string>
		</array>
		<array>
			<string>2014-09-04-is-pure-android-better.markdown</string>
		</array>
		<array>
			<string>2014-10-01-why-alibaba-ux-sucks.markdown</string>
		</array>
		<array>
			<string>2014-11-20-responsive-web-design.markdown</string>
		</array>
		<array>
			<string>2014-12-13-wechat-block-kuaidi.markdown</string>
		</array>
		<array>
			<string>2015-03-10-apple-event-2015.markdown</string>
		</array>
		<array>
			<string>2015-03-25-digital-native.markdown</string>
		</array>
		<array>
			<string>2015-03-31-e2e_user_scenarios.markdown</string>
		</array>
		<array>
			<string>2015-04-14-unix-linux-note.markdown</string>
		</array>
		<array>
			<string>2015-04-15-os-metro.markdown</string>
		</array>
		<array>
			<string>2015-05-11-see-u-ali.markdown</string>
		</array>
		<array>
			<string>2015-05-25-js-module-loader.markdown</string>
		</array>
		<array>
			<string>2015-06-15-alitrip-strategy.markdown</string>
		</array>
		<array>
			<string>2015-07-09-js-module-7day.markdown</string>
		</array>
		<array>
			<string>2015-09-22-js-version.markdown</string>
		</array>
		<array>
			<string>2015-12-15-ios9-safari-web.markdown</string>
		</array>
		<array>
			<string>2015-12-28-css-sucks-2015.markdown</string>
		</array>
		<array>
			<string>2016-02-01-React-vs-Angular2.markdown</string>
		</array>
		<array>
			<string>2016-06-05-pwa-in-my-pov.markdown</string>
		</array>
		<array>
			<string>2016-09-22-the-open-web.md</string>
		</array>
		<array>
			<string>2016-10-20-pwa-qcon2016.markdown</string>
		</array>
		<array>
			<string>2016-11-20-sw-101-gdgdf.markdown</string>
		</array>
		<array>
			<string>2017-01-09-wechat-miniapp-ux.md</string>
		</array>
		<array>
			<string>2017-02-09-nextgen-web-pwa.markdown</string>
		</array>
		<array>
			<string>2017-04-06-html-document.md</string>
		</array>
		<array>
			<string>2017-05-28-sw-precache.md</string>
		</array>
		<array>
			<string>2017-06-25-you-are-slaves.markdown</string>
		</array>
		<array>
			<string>2017-07-12-upgrading-eleme-to-pwa.markdown</string>
		</array>
		<array>
			<string>2017-07-26-farewell-flash.md</string>
		</array>
		<array>
			<string>2017-10-06-css-complaints.md</string>
		</array>
		<array>
			<string>2017-12-12-halting-problem.md</string>
		</array>
		<array>
			<string>2017-12-12-uncomputable-funcs.md</string>
		</array>
		<array>
			<string>2018-02-23-pd.md</string>
		</array>
		<array>
			<string>2017-09-20-time.md</string>
		</array>
		<array>
			<string>2017-06-13-admission.md</string>
		</array>
		<array>
			<string>2018-09-27-avoiding-success-at-all-cost.md</string>
		</array>
		<array>
			<string>2018-10-06-vim-cn-im.md</string>
		</array>
		<array>
			<string>2019-01-12-Third-space.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
