<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2014-01-29-hello-2015.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.64619899</real>
				<key>lastModification</key>
				<real>568904641.64619899</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>2014-08-16-miui6.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.64789701</real>
				<key>lastModification</key>
				<real>568904641.64789701</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>2014-09-04-is-pure-android-better.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.64824498</real>
				<key>lastModification</key>
				<real>568904641.64824498</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>2014-10-01-why-alibaba-ux-sucks.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.64992702</real>
				<key>lastModification</key>
				<real>568904641.64992702</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2014-11-20-responsive-web-design.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.65987098</real>
				<key>lastModification</key>
				<real>568904641.65987098</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>2014-12-13-wechat-block-kuaidi.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.66037202</real>
				<key>lastModification</key>
				<real>568904641.66037202</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2015-03-10-apple-event-2015.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.66506696</real>
				<key>lastModification</key>
				<real>568904641.66506696</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>2015-03-25-digital-native.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.66569996</real>
				<key>lastModification</key>
				<real>568904641.66569996</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2015-03-31-e2e_user_scenarios.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.66730797</real>
				<key>lastModification</key>
				<real>568904641.66730797</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>2015-04-14-unix-linux-note.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.669837</real>
				<key>lastModification</key>
				<real>568904641.669837</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2015-04-15-os-metro.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.67143095</real>
				<key>lastModification</key>
				<real>568904641.67143095</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>2015-05-11-see-u-ali.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.67330003</real>
				<key>lastModification</key>
				<real>568904641.67330003</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2015-05-25-js-module-loader.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.67441499</real>
				<key>lastModification</key>
				<real>568904641.67441499</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>2015-06-15-alitrip-strategy.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.67606902</real>
				<key>lastModification</key>
				<real>568904641.67606902</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>2015-07-09-js-module-7day.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.67741895</real>
				<key>lastModification</key>
				<real>568904641.67741895</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2015-09-22-js-version.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.67929804</real>
				<key>lastModification</key>
				<real>568904641.67929804</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>2015-10-28-how-designer-learn-fe.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.68043196</real>
				<key>lastModification</key>
				<real>568904641.68043196</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>2015-12-15-ios9-safari-web.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.68209898</real>
				<key>lastModification</key>
				<real>568904641.68209898</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>2015-12-28-css-sucks-2015.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.68348002</real>
				<key>lastModification</key>
				<real>568904641.68348002</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>2016-02-01-React-vs-Angular2.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.68493199</real>
				<key>lastModification</key>
				<real>568904641.68493199</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>2016-06-05-pwa-in-my-pov.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.68625605</real>
				<key>lastModification</key>
				<real>568904641.68625605</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>2016-09-22-the-open-web.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.68807805</real>
				<key>lastModification</key>
				<real>568904641.68807805</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>2016-10-20-pwa-qcon2016.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.68995404</real>
				<key>lastModification</key>
				<real>568904641.68995404</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>2016-11-20-sw-101-gdgdf.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.69475698</real>
				<key>lastModification</key>
				<real>568904641.69475698</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>2017-01-09-wechat-miniapp-ux.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.695382</real>
				<key>lastModification</key>
				<real>568904641.695382</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>2017-02-09-nextgen-web-pwa.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.69615304</real>
				<key>lastModification</key>
				<real>568904641.69615304</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>2017-04-06-html-document.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.69816506</real>
				<key>lastModification</key>
				<real>568904641.69816506</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>2017-05-28-sw-precache.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.69950294</real>
				<key>lastModification</key>
				<real>568904641.69950294</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>2017-06-13-admission.md</key>
			<dict>
				<key>lastModification</key>
				<real>568913676.37780201</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>66</integer>
				</dict>
			</dict>
			<key>2017-06-25-you-are-slaves.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.700809</real>
				<key>lastModification</key>
				<real>568904641.700809</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>2017-07-12-upgrading-eleme-to-pwa.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.70230198</real>
				<key>lastModification</key>
				<real>568904641.70230198</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>2017-07-26-farewell-flash.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.70448101</real>
				<key>lastModification</key>
				<real>568904641.70448101</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>2017-10-06-css-complaints.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.70553005</real>
				<key>lastModification</key>
				<real>568904641.70553005</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>2017-12-12-halting-problem.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.70738804</real>
				<key>lastModification</key>
				<real>568904641.70738804</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>2017-12-12-uncomputable-funcs.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.70869899</real>
				<key>lastModification</key>
				<real>568904641.70869899</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>2018-06-30-dreamer.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.71012199</real>
				<key>lastModification</key>
				<real>568904641.71012199</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>2018-09-27-avoiding-success-at-all-cost.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568913688.83238494</real>
				<key>lastModification</key>
				<real>568913688.83238494</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>68</integer>
				</dict>
			</dict>
			<key>2018-10-06-vim-cn-im.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>568904641.71288705</real>
				<key>lastModification</key>
				<real>568904641.71288705</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>2019-01-12-test.md</key>
			<dict>
				<key>lastModification</key>
				<real>568904249.49920702</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>568904137.88580203</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-10-28-how-designer-learn-fe.markdown</string>
		</array>
		<array>
			<string>2014-01-29-hello-2015.markdown</string>
		</array>
		<array>
			<string>2014-08-16-miui6.markdown</string>
		</array>
		<array>
			<string>2014-09-04-is-pure-android-better.markdown</string>
		</array>
		<array>
			<string>2014-10-01-why-alibaba-ux-sucks.markdown</string>
		</array>
		<array>
			<string>2014-11-20-responsive-web-design.markdown</string>
		</array>
		<array>
			<string>2014-12-13-wechat-block-kuaidi.markdown</string>
		</array>
		<array>
			<string>2015-03-10-apple-event-2015.markdown</string>
		</array>
		<array>
			<string>2015-03-25-digital-native.markdown</string>
		</array>
		<array>
			<string>2015-03-31-e2e_user_scenarios.markdown</string>
		</array>
		<array>
			<string>2015-04-14-unix-linux-note.markdown</string>
		</array>
		<array>
			<string>2015-04-15-os-metro.markdown</string>
		</array>
		<array>
			<string>2015-05-11-see-u-ali.markdown</string>
		</array>
		<array>
			<string>2015-05-25-js-module-loader.markdown</string>
		</array>
		<array>
			<string>2015-06-15-alitrip-strategy.markdown</string>
		</array>
		<array>
			<string>2015-07-09-js-module-7day.markdown</string>
		</array>
		<array>
			<string>2015-09-22-js-version.markdown</string>
		</array>
		<array>
			<string>2015-12-15-ios9-safari-web.markdown</string>
		</array>
		<array>
			<string>2015-12-28-css-sucks-2015.markdown</string>
		</array>
		<array>
			<string>2016-02-01-React-vs-Angular2.markdown</string>
		</array>
		<array>
			<string>2016-06-05-pwa-in-my-pov.markdown</string>
		</array>
		<array>
			<string>2016-09-22-the-open-web.md</string>
		</array>
		<array>
			<string>2016-10-20-pwa-qcon2016.markdown</string>
		</array>
		<array>
			<string>2016-11-20-sw-101-gdgdf.markdown</string>
		</array>
		<array>
			<string>2017-01-09-wechat-miniapp-ux.md</string>
		</array>
		<array>
			<string>2017-02-09-nextgen-web-pwa.markdown</string>
		</array>
		<array>
			<string>2017-04-06-html-document.md</string>
		</array>
		<array>
			<string>2017-05-28-sw-precache.md</string>
		</array>
		<array>
			<string>2017-06-25-you-are-slaves.markdown</string>
		</array>
		<array>
			<string>2017-07-12-upgrading-eleme-to-pwa.markdown</string>
		</array>
		<array>
			<string>2017-07-26-farewell-flash.md</string>
		</array>
		<array>
			<string>2017-10-06-css-complaints.md</string>
		</array>
		<array>
			<string>2017-12-12-halting-problem.md</string>
		</array>
		<array>
			<string>2017-12-12-uncomputable-funcs.md</string>
		</array>
		<array>
			<string>2018-06-30-dreamer.md</string>
		</array>
		<array>
			<string>2017-06-13-admission.md</string>
		</array>
		<array>
			<string>2018-09-27-avoiding-success-at-all-cost.md</string>
		</array>
		<array>
			<string>2018-10-06-vim-cn-im.md</string>
		</array>
		<array>
			<string>2019-01-12-test.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title,descending</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
			<integer>68</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
