<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>569395848.83162475</real>
		<key>sheetClusters</key>
		<dict>
			<key>2012-10-08-The-world-is-changing-fast.md</key>
			<dict>
				<key>lastModification</key>
				<real>569395848.83162475</real>
				<key>version</key>
				<dict>
					<key>legacy-569395848.831625</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-01-29-hello-2015.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08877397</real>
				<key>lastModification</key>
				<real>569395867.08877397</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-08-16-miui6.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08877504</real>
				<key>lastModification</key>
				<real>569395867.08877504</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-09-04-is-pure-android-better.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08877599</real>
				<key>lastModification</key>
				<real>569395867.08877599</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-10-01-why-alibaba-ux-sucks.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08877802</real>
				<key>lastModification</key>
				<real>569395867.08877802</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-11-20-responsive-web-design.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08877897</real>
				<key>lastModification</key>
				<real>569395867.08877897</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-12-13-wechat-block-kuaidi.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08878005</real>
				<key>lastModification</key>
				<real>569395867.08878005</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-03-10-apple-event-2015.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.088781</real>
				<key>lastModification</key>
				<real>569395867.088781</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-03-25-digital-native.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08878195</real>
				<key>lastModification</key>
				<real>569395867.08878195</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-03-31-e2e_user_scenarios.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08878303</real>
				<key>lastModification</key>
				<real>569395867.08878303</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-04-14-unix-linux-note.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08878398</real>
				<key>lastModification</key>
				<real>569395867.08878398</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-04-15-os-metro.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08878505</real>
				<key>lastModification</key>
				<real>569395867.08878505</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-05-11-see-u-ali.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08878601</real>
				<key>lastModification</key>
				<real>569395867.08878601</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-05-25-js-module-loader.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08878696</real>
				<key>lastModification</key>
				<real>569395867.08878696</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-06-15-alitrip-strategy.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08878899</real>
				<key>lastModification</key>
				<real>569395867.08878899</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-09-js-module-7day.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08879006</real>
				<key>lastModification</key>
				<real>569395867.08879006</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-09-22-js-version.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08879101</real>
				<key>lastModification</key>
				<real>569395867.08879101</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-28-how-designer-learn-fe.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08877099</real>
				<key>lastModification</key>
				<real>569395867.08877099</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-12-Introvert.md</key>
			<dict>
				<key>lastModification</key>
				<real>569395848.83162475</real>
				<key>version</key>
				<dict>
					<key>legacy-569395848.831625</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-15-ios9-safari-web.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08879197</real>
				<key>lastModification</key>
				<real>569395867.08879197</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-28-css-sucks-2015.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08879304</real>
				<key>lastModification</key>
				<real>569395867.08879304</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-01-React-vs-Angular2.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08879399</real>
				<key>lastModification</key>
				<real>569395867.08879399</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-05-pwa-in-my-pov.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08879495</real>
				<key>lastModification</key>
				<real>569395867.08879495</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-22-the-open-web.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08879697</real>
				<key>lastModification</key>
				<real>569395867.08879697</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-20-pwa-qcon2016.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08879805</real>
				<key>lastModification</key>
				<real>569395867.08879805</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-20-sw-101-gdgdf.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.088799</real>
				<key>lastModification</key>
				<real>569395867.088799</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-26-hey2017.md</key>
			<dict>
				<key>lastModification</key>
				<real>569395848.83162475</real>
				<key>version</key>
				<dict>
					<key>legacy-569395848.831625</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2017-01-09-wechat-miniapp-ux.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08879995</real>
				<key>lastModification</key>
				<real>569395867.08879995</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-02-09-nextgen-web-pwa.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08880103</real>
				<key>lastModification</key>
				<real>569395867.08880103</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-06-html-document.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08880198</real>
				<key>lastModification</key>
				<real>569395867.08880198</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-28-sw-precache.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08880305</real>
				<key>lastModification</key>
				<real>569395867.08880305</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-13-admission.md</key>
			<dict>
				<key>lastModification</key>
				<real>569395848.83162475</real>
				<key>version</key>
				<dict>
					<key>legacy-569395848.831625</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2017-06-25-you-are-slaves.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08880401</real>
				<key>lastModification</key>
				<real>569395867.08880401</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-07-12-upgrading-eleme-to-pwa.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08880496</real>
				<key>lastModification</key>
				<real>569395867.08880496</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-07-26-farewell-flash.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08880603</real>
				<key>lastModification</key>
				<real>569395867.08880603</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-09-20-time.md</key>
			<dict>
				<key>lastModification</key>
				<real>569395848.83162475</real>
				<key>version</key>
				<dict>
					<key>legacy-569395848.831625</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2017-10-06-css-complaints.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08880699</real>
				<key>lastModification</key>
				<real>569395867.08880699</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-12-12-halting-problem.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08880794</real>
				<key>lastModification</key>
				<real>569395867.08880794</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-12-12-uncomputable-funcs.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08880901</real>
				<key>lastModification</key>
				<real>569395867.08880901</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-02-23-pd.md</key>
			<dict>
				<key>lastModification</key>
				<real>569395848.83162475</real>
				<key>version</key>
				<dict>
					<key>legacy-569395848.831625</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2018-09-27-avoiding-success-at-all-cost.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08880997</real>
				<key>lastModification</key>
				<real>569395867.08880997</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-10-06-vim-cn-im.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569395867.08881104</real>
				<key>lastModification</key>
				<real>569395867.08881104</real>
				<key>version</key>
				<dict>
					<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-10-08-All-You-Zombies.md</key>
			<dict>
				<key>lastModification</key>
				<real>569395848.83162475</real>
				<key>version</key>
				<dict>
					<key>legacy-569395848.831625</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2019-01-12-Third-space.md</key>
			<dict>
				<key>lastModification</key>
				<real>569395848.83162475</real>
				<key>version</key>
				<dict>
					<key>legacy-569395848.831625</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2019-01-16-hahaha.md</key>
			<dict>
				<key>lastModification</key>
				<real>569395848.83162475</real>
				<key>version</key>
				<dict>
					<key>legacy-569395848.831625</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-10-28-how-designer-learn-fe.markdown</string>
		</array>
		<array>
			<string>2014-01-29-hello-2015.markdown</string>
		</array>
		<array>
			<string>2014-08-16-miui6.markdown</string>
		</array>
		<array>
			<string>2014-09-04-is-pure-android-better.markdown</string>
		</array>
		<array>
			<string>2014-10-01-why-alibaba-ux-sucks.markdown</string>
		</array>
		<array>
			<string>2014-11-20-responsive-web-design.markdown</string>
		</array>
		<array>
			<string>2014-12-13-wechat-block-kuaidi.markdown</string>
		</array>
		<array>
			<string>2015-03-10-apple-event-2015.markdown</string>
		</array>
		<array>
			<string>2015-03-25-digital-native.markdown</string>
		</array>
		<array>
			<string>2015-03-31-e2e_user_scenarios.markdown</string>
		</array>
		<array>
			<string>2015-04-14-unix-linux-note.markdown</string>
		</array>
		<array>
			<string>2015-04-15-os-metro.markdown</string>
		</array>
		<array>
			<string>2015-05-11-see-u-ali.markdown</string>
		</array>
		<array>
			<string>2015-05-25-js-module-loader.markdown</string>
		</array>
		<array>
			<string>2015-06-15-alitrip-strategy.markdown</string>
		</array>
		<array>
			<string>2015-07-09-js-module-7day.markdown</string>
		</array>
		<array>
			<string>2015-09-22-js-version.markdown</string>
		</array>
		<array>
			<string>2015-12-15-ios9-safari-web.markdown</string>
		</array>
		<array>
			<string>2015-12-28-css-sucks-2015.markdown</string>
		</array>
		<array>
			<string>2016-02-01-React-vs-Angular2.markdown</string>
		</array>
		<array>
			<string>2016-06-05-pwa-in-my-pov.markdown</string>
		</array>
		<array>
			<string>2016-09-22-the-open-web.md</string>
		</array>
		<array>
			<string>2016-10-20-pwa-qcon2016.markdown</string>
		</array>
		<array>
			<string>2016-11-20-sw-101-gdgdf.markdown</string>
		</array>
		<array>
			<string>2017-01-09-wechat-miniapp-ux.md</string>
		</array>
		<array>
			<string>2017-02-09-nextgen-web-pwa.markdown</string>
		</array>
		<array>
			<string>2017-04-06-html-document.md</string>
		</array>
		<array>
			<string>2017-05-28-sw-precache.md</string>
		</array>
		<array>
			<string>2017-06-25-you-are-slaves.markdown</string>
		</array>
		<array>
			<string>2017-07-12-upgrading-eleme-to-pwa.markdown</string>
		</array>
		<array>
			<string>2017-07-26-farewell-flash.md</string>
		</array>
		<array>
			<string>2017-10-06-css-complaints.md</string>
		</array>
		<array>
			<string>2017-12-12-halting-problem.md</string>
		</array>
		<array>
			<string>2017-12-12-uncomputable-funcs.md</string>
		</array>
		<array>
			<string>2018-02-23-pd.md</string>
		</array>
		<array>
			<string>2019-01-16-hahaha.md</string>
		</array>
		<array>
			<string>2017-09-20-time.md</string>
		</array>
		<array>
			<string>2017-06-13-admission.md</string>
		</array>
		<array>
			<string>2018-09-27-avoiding-success-at-all-cost.md</string>
		</array>
		<array>
			<string>2018-10-06-vim-cn-im.md</string>
		</array>
		<array>
			<string>2019-01-12-Third-space.md</string>
		</array>
		<array>
			<string>2016-12-26-hey2017.md</string>
		</array>
		<array>
			<string>2015-11-12-Introvert.md</string>
		</array>
		<array>
			<string>2012-10-08-The-world-is-changing-fast.md</string>
		</array>
		<array>
			<string>2018-10-08-All-You-Zombies.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>b025c2abcce057b716a8e2269bbec4c69ad39584d2199b1d898f3947ddb139d4</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
